@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", serif;
  background-color: lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 700px;
  background-color: #fff;
  color: #0e1c4e;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 52px 78px;
}
.title {
  text-align: center;
  margin-bottom: 26px;
}
.title h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 5px;
}
.title p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.accordion-item {
  margin: 20px auto;
  font-size: 14px;
  /* font-weight: 400; */
}
.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 19px 16px;
  cursor: pointer;
  gap: 8px;
  /* transition: background-color 0.3s; */
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-content {
  padding: 15px 20px;
}

.accordion-item:nth-child(5n + 1) .accordion-title {
  background-color: #ffedd5;
  border-left: 5px solid #fb923c;
}

.accordion-item:nth-child(5n + 2) .accordion-title {
  background-color: #e0e7ff;
  border-left: 5px solid #818cf8;
}

.accordion-item:nth-child(5n + 3) .accordion-title {
  background-color: #ede9fe;
  border-left: 5px solid #a78bfa;
}

.accordion-item:nth-child(5n + 4) .accordion-title {
  background-color: #fce7f3;
  border-left: 5px solid #f472b6;
}

.accordion-item:nth-child(5n + 5) .accordion-title {
  background-color: #f0fdf4;
  border-left: 5px solid #4ade80;
}
.accordion-title.active {
  font-weight: bold;
}
/* Hover Effects */
/* .accordion-title:hover {
  background-color: #f0f0f0;
} */
